.skills h4 {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 0%;
  font-size: 18px;
  height: 50px;
  width: 30%;
  padding-left: 15px;
  padding-top: 25px;
  font-size: 20px;
}

.skills h4, .skills h5 {
  font-family: "Lucida Console", Monaco, monospace;
}

.underline {
  height: 5px;
  width: 70%;
  margin-left: 7%;
  background-image: linear-gradient(to right, #7473c4, #e8e8ed);
  border-radius: 3px;
}



.languages, .frameworks, .other {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  width: 70%;
  margin: auto;
}

.gridItem {
  border: solid black;
  width: 75%;
  margin: 4%; 
  padding-left: 8%;
  padding-right: 10%;
  background-image: linear-gradient(135deg, #27184f 70%, #7dc4ba 85%);
  color: #77ffec;
  border-radius: 5px;
  opacity: 0.9;
  box-shadow: 2px 2px 3px #aaaaaa;
  transition: color 0.5s, transform 0.5s, opacity 0.5s, box-shadow 0.5s; 
  -webkit-transition: color 05.s, transform 0.5s, opacity 0.5s, box-shadow 0.5s;
}

.gridItem:hover {
  color: #c4fff6;
  transform: scale(1.07);
  opacity: 1;
  box-shadow: 3px 3px 4px #9af8ff;
}

